@media (max-width:1024px) {


    /* start of main-title */

    #main-title {
        background-color: #51332A;
        text-align: center;
        line-height: 11.5em;
    }

    .title-text {
        text-align: center;
        padding-bottom: 1em;
    }

    /* end of main-title */

    /* start of food-menu */
    .card {
        margin-bottom: 10%;
    }

    /* end of food */

/* start of about-us*/

.about-text-1 {
    margin-top: -2em;
}

.carousel-content img {
    margin-left: 14em;
    /* padding: 30px;
    width: 220px; */
}

/* end of testimoni */

/* start of our-location */

.location-text-1 {
    /* color: white; */
    margin-top: 0em;
    /* margin-bottom: 1em;
    font-size: 2em;
    font-style: italic; */
}

/* end of our-location */
}

@media (max-width:540px) {
    /* start of navigation-bar */

    .navbar-brand {
        padding-bottom: 7%;
        text-align: center;
        width: 100%;
        padding-top: 7%;
    }

    .navbar-toggler {
        text-align: center;
        display: block;
        width: 100%;
    }

    /* end of navigation bar */
    /* start of main-title */

    #main-title {
        background-color: #51332A;
        text-align: center;
        line-height: 11.5em;
    }

    .title-text {
        font-size: 1.8em;
        padding-bottom: 7%;
    }

    /* end of main-title */


    /* start of food-menu */

    .card {
        margin-bottom: 5%;
    }

    .cofee-food-header {
        font-size: 2rem;
        padding-top: 3%;
        padding-bottom: 3%;
    }


    /* end of food */

/* start of about-us*/

.about-text-1 {
    margin-top: -1em;
    text-align: justify;
}

.contact-us img {
    width: 19px !important;
}

/* end of about-us */

/* start of testimoni */

.text-carousel {
    align-items: center;
    position: relative;
    color: black;
    left: 0%;
}


dl, ol, ul {
    margin-top: 1px;
    margin-bottom: 0rem;
}

.text-carousel {
    margin-top: -1em;
}

.text-carousel img {
    margin-left: 5em;
    padding: 30px;
    width: 150px;
}

.testimoni-indicators {
    bottom: -16px;
}

.logo-sponsor img {
    width: 125px;
    
}

    /* start of our-location */
    .visit-us-header.jumbotron-fluid {
        background-color: #E9DCD3;
        padding-top: 1%;
        padding-bottom: 1%;
        margin-bottom: 3%;
        font-weight: bold;
        color: #51332A;
        font-size: 1.7rem;
    }
    /* end of our-location */


/* end of testimoni */

/* start of our-location */

.location-text-1 {
    margin-top: 0em;
    margin-bottom: 1em;
    font-size: 1.5em;
}


.contact-us img {
    width: 50px;
    margin-top: 2em;
    margin-bottom: 3em;
}

/* end of our-location */
}