/* didi start */
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.container-fluid {
    padding: 3% 7% 7%;
}

/* start of navigation-bar */

#navigation-bar {
    background-color: #C6A695;
    width: 100%;
}

.logo-cafe {
    width: 100px;
    opacity: 0.8;
    padding-right: 0% !important;
}

.text-logo {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    color: white;
    text-align: center;
}

.container-fluid.navbar-top-menu {
    padding-top: 0%;
    padding-bottom: 0%;
}

.nav-link {
    color: white !important;
    font-size: 1.2em;
    font-weight: 500 !important;
    text-align: center;
}

/* end of navigation bar */

/* start of main-title */

#main-title {
    background-color: #51332A;
}

.title-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    line-height: 1.5;
    font-size: 3rem;
    color: white;
}


/* end of main-title */
/* start of food-menu */

#food-menu {
    background-color: #E9DCD3;
}

.cofee-food-header.jumbotron-fluid {
    background-color: #51332A;
}

.cofee-food-header {
    text-align: center;
    padding-bottom: 1%;
    padding-top: 1%;
    margin-bottom: 3%;
    margin-top: 3%;
    font-weight: bold;
    color: white;
}

.card {
    border-radius: 100px !important;
}

.card-body {
    background-color: #845447;
    color: white;

}

.carousel-location-text h5 {
    font-weight: bold;
}

/* end of food */




/* start of our-location */

#our-location {
    background-color: #51332A;
    text-align: center;
}

.carousel-index {
    width: 80%;
    margin: auto;
}

.visit-us-header.jumbotron-fluid {
    background-color: #E9DCD3;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-bottom: 3%;
    font-weight: bold;
    color: #51332A;
}

.carousel-caption-index {
    padding: 1%;
    background-color: #E9DCD3;
    opacity: 0.8;
    color: #51332A;

}

/* end of our-location */

/* Start of Footer */
#footer {
    text-align: center;
    background-color: #E9DCD3;
    padding: 1% 15%;
}

.sosmed {
    margin: 20px 10px;
}

/* end of Footer */

/* didi end */


/* mas asep start */
.location-text-1 {
    color: white;
    margin-top: 2em;
    margin-bottom: 1em;
    font-size: 2em;
    font-style: italic;
}

.location-text-2 {
    color: white;
    margin-bottom: 2em;
    font-style: italic;
}

#contact {
    background-color: #E9DCD3;
}

.garis {
    background-color: white;
    padding-top: 15px;
    padding-bottom: 0px;
    width: 100%;
}

.contact-us img {
    width: 50px;
    margin-top: 2em;
    margin-bottom: 0em;
}

/* start of about-us*/

#about-us {
    background-color: #51332A;
}

.about-text-1 {
    color: white;
    margin-top: 2em;
}

.about-text-2 {
    color: white;
    margin-bottom: 2em;

}

/* end of about-us */

/* start of testimoni */

#testimoni {
    background-color: #E9DCD3;
}

.text-carousel {
    /* align-items: center; */
    position: relative;
    color: black;
    left: 0%;
}

.carousel-content p {
    font-style: italic;
}

.carousel-content img {
    margin-left: 28em;
    padding: 30px;
    width: 220px;
}

.carousel-tombol {
    background-color: #51332A;
}

.testimoni-indicators {
    background-color: #51332a;
}

.logo-sponsor img {
    width: 150px;

}

/* end of testimoni */
/* mas asep end */